.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  border-radius: 30px;
  padding: 20px 5px 0px 5px;
}

@media (min-width: 375px) {
  .cards {
    row-gap: 15px;
  }
}

@media (min-width: 768px) {
  .cards {
    row-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .cards {
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
