.card {
  background: aliceblue;
  height: 3rem;
  width: 3rem;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

.card.match-success {
  background-color: rgb(46, 156, 46);
  transition: 500ms;
}

.card.match-failed {
  background-color: rgb(201, 71, 71);
  transition: 500ms;
}