.game-controls {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: rgba(5, 10, 9, 0.486);
  padding: 8px;
  color: white;
  font-weight: bold;
}

.movements-counter {
  font-size: 1rem;
}

.restart-game {
  text-align: right;
}

.restart-game__button {
  font-size: 1em;
}

.game-finished {
  margin-top: 8rem; 
}

.game-finished__title {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

.game-finished__movements-made {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.game-finished__btn-new-game {
  font-size: 1.5rem;
  margin: 0 auto;
  display: block;
}